
body {
  background-color: $bg;
  color: $text;
  font-family: $body-font-family;
}

.container {
  background-color: $bg;
  @media (min-width: $tablet-width){
    width: 90%;
    padding: 0 50px;
  }
  @media (min-width: $large-tablet-width){
    padding: 0;
  }
}

.maincontent {
  display: block;
  position: relative;
}

.main {
    position: relative;
    width: 100%;
    top: 20px;
    @media (min-width: $container-width) {
      top: 67px;
    }
}


img {
  max-width: 100%;
}

/* fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  color: $text;
  margin: 0;
}

h2 {
  font-family: $base-font-family;
  font-size: 3em;
  letter-spacing: -2.2px;
  font-weight: 800;
  color: $text;
  margin: 0;
}

h3 {
  font-family: $base-font-family;
  font-size: 2.2em;
  color: $text;
  margin-bottom: 10px;
}

a, a:hover {
    color: $text;
    text-decoration: none;
    &.decorate {
      color: $brand;
    }
}
