.footer {
    clear: both;
    display: block;
    text-align: left;
    padding: 20px;
    font-weight: 300;
    @media (min-width: $tablet-width) {
      padding: 10px 0
    }
    p {
      margin: 0;
      padding: 2px 0;

    }
    
}
