/* site header */
.header-row {
  position: relative;
  width: 100%;
  @media (min-width: $container-width) {
    position: absolute;
  }
  .pull-right {
    text-align: right;
    @media (min-width: $container-width) {
      position: absolute;
      right: 0;
      padding-top: 21px;
      border-top: 2px solid $text;
    }
  }
  .nav {
    font-weight: 300;
    display: none;
    @media (min-width: $container-width) {
      display: block;
    }
  }
}
.site-headline {
  display: block;
  position: relative;
  padding: 10px 0;
  border-top: 2px solid $text;
  h1 {
    margin: 0;
    font-size: 3rem;
    text-align: left;
    letter-spacing: -1px;
    text-rendering: geometricPrecision;
    font-family: $h-font-family;
    font-weight: 700
  }
}

/* plusminus */

@mixin plusMinus($width, $lineWidth, $color) {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: $width;
  height: $width;
  transform: rotate(180deg);
  position: relative;

  &:hover {
    transform: rotate(0deg);
  }
  &::before {
    content: '';
    display: block;
    width: $width;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom:$width /2 - $lineWidth/2;
    transform: rotate(90deg);
    transition: width 0.3s;
  }
  &:hover::before {
    content: '';
    display: block;
    width: 0px;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom:$width /2 - $lineWidth/2;
    transform: rotate(90deg);
  }
  &::after {
    content: '';
    display: block;
    width: $width;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom:$width /2 - $lineWidth/2;
  }
}


.cta-signal {
  background: $brand;
  padding: 2px 8px;
  position: relative;
  cursor: pointer;
  .icon {
    display: inline-block;
    top: 1px;
    margin-left: 4px;
    @include plusMinus(13px, 2px, $text);
  }


}

/*
 services dropdown
 */
 .services-content {
    display: none;
    position: absolute;
    z-index: 200;
    background: $brand;
    width: 100%;
    left: 0;
    padding: 8px;
    box-sizing: border-box;
   @media (max-width: $container-width) {
     display: none;
   }
   @media (max-width: $tablet-width) {
     display: block;
   }
   @media (max-width: $phone-width) {
     min-width: 100%
   }
   p {
     margin-bottom: 1rem;
   }

 }
/*
  Responsiveness with a dropdown menu
*/

.dropdown {
  .dropbtn {
    display: none;
    @media (max-width: $container-width) {
      display: block;
      font-size: 16px;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 22px;
      z-index: 120;
    }

  }
  .dropdown-content {
    display: none;
    @media (max-width: $container-width) {
      display: none;
      position: absolute;
      background-color: $bg;
      min-width: 33%;
      top: 0;
      left: 0;
      padding: 20px;
    }
    @media (max-width: $tablet-width) {
      z-index: 121;
      min-width: 66%;
      top: 130px;
    }
    @media (max-width: $phone-width) {
      min-width: 100%
    }
    p {
      margin: 10px 0;
    }

  }
}

/* hamburger to x */


 .con,
 .special-con {
   cursor: pointer;
   display: inline-block;
 }

 .bar {
   display: block;
   height: 2px;
   width: 25px;
   background: $text;
   margin: 4px auto;
 }

 .con {
   width: auto;
   margin: 0 auto;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

.con:hover .bar,.special-con:hover .bar {
  background-color: $brand;
}

 .col {
   display: inline-block;
   width: 24%;
   text-align: center;
   height: auto;
   position: relative;
 }

 .middle {
   margin: 0 auto;
 }

 .bar {
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

 .con:hover .top {
   -webkit-transform: translateY(15px) rotateZ(45deg);
   -moz-transform: translateY(15px) rotateZ(45deg);
   -ms-transform: translateY(15px) rotateZ(45deg);
   -o-transform: translateY(15px) rotateZ(45deg);
   transform: translateY(15px) rotateZ(45deg);
 }

 .con:hover .bottom {
   -webkit-transform: translateY(-15px) rotateZ(-45deg);
   -moz-transform: translateY(-15px) rotateZ(-45deg);
   -ms-transform: translateY(-15px) rotateZ(-45deg);
   -o-transform: translateY(-15px) rotateZ(-45deg);
   transform: translateY(-15px) rotateZ(-45deg);
 }

 .con:hover .middle {
   width: 0;
 }

 .con:hover .arrow-top {
   -webkit-transform: rotateZ(45deg) translateY(11px);
   -moz-transform: rotateZ(45deg) translateY(11px);
   -ms-transform: rotateZ(45deg) translateY(11px);
   -o-transform: rotateZ(45deg) translateY(11px);
   transform: rotateZ(45deg) translateY(11px);
   width: 25px;
 }

 .con:hover .arrow-middle {
   -webkit-transform: translateX(-25px);
   -moz-transform: translateX(-25px);
   -ms-transform: translateX(-25px);
   -o-transform: translateX(-25px);
   transform: translateX(-25px);
 }

 .con:hover .arrow-bottom {
   -webkit-transform: rotateZ(-45deg) translateY(-11px);
   -moz-transform: rotateZ(-45deg) translateY(-11px);
   -ms-transform: rotateZ(-45deg) translateY(-11px);
   -o-transform: rotateZ(-45deg) translateY(-11px);
   transform: rotateZ(-45deg) translateY(-11px);
   width: 25px;
 }

 .con:hover .arrow-top-r {
   -webkit-transform: rotateZ(-45deg) translateY(11px);
   -moz-transform: rotateZ(-45deg) translateY(11px);
   -ms-transform: rotateZ(-45deg) translateY(11px);
   -o-transform: rotateZ(-45deg) translateY(11px);
   transform: rotateZ(-45deg) translateY(11px);
   width: 25px;
 }

 .con:hover .arrow-middle-r {
   -webkit-transform: translateX(25px);
   -moz-transform: translateX(25px);
   -ms-transform: translateX(25px);
   -o-transform: translateX(25px);
   transform: translateX(25px);
 }

 .con:hover .arrow-bottom-r {
   -webkit-transform: rotateZ(45deg) translateY(-11px);
   -moz-transform: rotateZ(45deg) translateY(-11px);
   -ms-transform: rotateZ(45deg) translateY(-11px);
   -o-transform: rotateZ(45deg) translateY(-11px);
   transform: rotateZ(45deg) translateY(-11px);
   width: 25px;
 }

 .con:hover .arrow-top-fall {
   -webkit-transform: translateY(15px);
   -moz-transform: translateY(15px);
   -ms-transform: translateY(15px);
   -o-transform: translateY(15px);
   transform: translateY(15px);
 }

 .con:hover .arrow-bottom-fall {
   -webkit-transform: translateY(-15px);
   -moz-transform: translateY(-15px);
   -ms-transform: translateY(-15px);
   -o-transform: translateY(-15px);
   transform: translateY(-15px);
 }

 .special-con {
   margin: 0 auto;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

 .special-con:hover .arrow-top-fall {
   -webkit-transition: all .7s ease-in-out;
   -moz-transition: all .7s ease-in-out;
   -ms-transition: all .7s ease-in-out;
   -o-transition: all .7s ease-in-out;
   transition: all .7s ease-in-out;
   -webkit-transform: translateY(6px);
   -moz-transform: translateY(6px);
   -ms-transform: translateY(6px);
   -o-transform: translateY(6px);
   transform: translateY(6px);
 }

 .arrow-bottom-fall,
 .arrow-top-fall {
   -webkit-transition: all .7s ease-in-out;
   -moz-transition: all .7s ease-in-out;
   -ms-transition: all .7s ease-in-out;
   -o-transition: all .7s ease-in-out;
   transition: all .7s ease-in-out;
 }

 .special-con:hover .arrow-bottom-fall {
   -webkit-transform: translateY(-6px);
   -moz-transform: translateY(-6px);
   -ms-transform: translateY(-6px);
   -o-transform: translateY(-6px);
   transform: translateY(-6px);
   -webkit-transition: all .7s ease-in-out;
   -moz-transition: all .7s ease-in-out;
   -ms-transition: all .7s ease-in-out;
   -o-transition: all .7s ease-in-out;
   transition: all .7s ease-in-out;
 }

 .ua {
   position: absolute;
   right: 30px;
   bottom: 20px;
   color: #6FFFE9;
   font-size: 2em;
 }

 .fa {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }

 .ua:hover .fa {
   color: #6FFFE9;
   ;
   -webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
   -ms-transform: scale(1.5);
   -o-transform: scale(1.5);
   transform: scale(1.5);
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }




 /*
   Hero
 */
 .row-hero {
   clear: both;
   display: block;
   position: relative;
   text-align: center;
   padding: 60px 26px;
   font-family: $base-font-family;
   text-rendering: geometricPrecision;
   font-weight: 300;
   background: #1c1c23;
   background: linear-gradient(to bottom, #212129 0, #151519 60%, #000 100%);
   line-height: 2;
   h2 {
     font-family: $h-font-family;
     font-size: 3.8rem;
     font-weight: 700;
   }
 }
