// clrs.cc
.red {
  color: $red;
}
.red-bg {
  background: $red;
}
.gradient {
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.5) 50%,rgba(0,0,0,.6) 100%);
}
// pull

.pull-left {
  text-align: left;
  float: left;
}
.pull-right {
  text-align: right;
  float: right;
}
// l
.line {
  border-bottom: 1px solid $gray;
}
// button
.btn {
  display: inline-block;
  width: auto;
  min-width: 85px;
  margin-left: 0;
  background: $black;
  border: 2px solid $contrast-text;
  color: $contrast-text;
  padding: 10px 40px;
  text-align: center;
  > i {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    top: 1px;
  }
}


.btn-light {
  display: inline-block;
  width: auto;
  min-width: 85px;
  margin-left: 0;
  background: $contrast-text;
  border: 3px solid $black;
  color: $black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  > i {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    top: 1px;
  }
}
