#projects {
 display: block;
 position: relative;

 .project {
   display: block;
   position: relative;
   width: 100%;
   float: left;
   margin: 0;
   box-sizing: border-box;
   background: $black;
   overflow: hidden;
   @media (min-width: $tablet-width){
     width: 50%;
     padding: 0;
   }
   @media (min-width: $large-tablet-width){
     width: 50%;
     padding: 0;
   }
   &.item-sm {
     display: block;
     position: relative;
     width: 100%;

     @media (min-width: $tablet-width){
       width: 33.333%;
       padding: 0;
     }
     .project-feature {
       height: 250px;
     }
     .project-meta-sm {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 100%;
       padding: 173px 33px 15px;
       box-sizing: border-box;
       background: linear-gradient(to bottom, #673ab766 0, rgba(33, 150, 243, 0.25) 60%, #0d1e25 100%) !important;

     }
   }
   .project-feature {
     display: block;
     width: 100%;
     height: 400px;
     background-position: top center;
     background-size: cover;
     background-repeat: no-repeat;
   }
   .project-meta {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     padding: 173px 33px 15px;
     box-sizing: border-box;
     background: linear-gradient(to bottom, rgba(233, 30, 99, 0.02) 0, rgba(179, 102, 148, 0.35) 50%, rgba(85, 73, 173, 0.65) 100%);
   }
    h3, h4 {
       position: absolute;
       bottom: 13px;
       font-size: inherit;
       letter-spacing: 2px;
       display: inline-block;
       float: left;
       text-transform: uppercase;
       font-weight: 300;
       text-rendering: optimizeLegibility;
     }
     h4 {
       float: right;
     }
   }
 }


.page-info {
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  p {
    margin: 0
  }
}

.showcase-space {
 margin: 50px 0;
 position: relative;
 img {
   width: 100%;
 }
 .intro {
    margin: 2%;
    padding: 10px 50px 0;
    font-size: 1.8rem;
    line-height: 1.4;
    @media (min-width: $large-tablet-width) {
      padding: 50px
    }
    .meta {
      margin: 50px 0;
      font-size: 1.2rem;;
      line-height: 1;
      font-family: $h-font-family;
      p {
        margin: 0;
        padding: 4px 0;
        color: $gray;
      }
    }
 }
 .project {
   @media (min-width: $tablet-width){
     width: 100% !important;
     padding: 0;
   }
   .project-feature {
     display: block;
     width: 100%;
     height: auto !important;
   }
   .project-meta {
    position: absolute;
    bottom: 7px !important;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.57) 0, rgba(179, 102, 148, 0.35) 50%, rgba(85, 73, 173, 0.65) 100%) !important;
  }
 }
 .single-gradient {
   position: absolute;
   background: linear-gradient(to bottom, #673ab766 0, rgba(33, 150, 243, 0.25) 60%, #0d1e25 100%) !important;
 }
}

.section-narrow {
  position: relative;
  float: left;
  font-weight: 300;
  color: grey;
  line-height: 1.1;
  max-width: 100%;
  text-align: justify;
  margin: 50px auto;
  clear: both;
  @media (min-width: $container-width) {
    max-width: 39%;
  }
}

.more {
  background-color: $bg;
  h6 {
    color: $gray;
    text-align: center;
    padding-top: 65px;
  }
  .container {
    background-color: $bg;
    .project {
      padding: 70px 0 0;
      @media (min-width: $tablet-width) {
        padding: 70px 0 150px;
      }
    }
    .project-feature {
      display: block;
      width: 100%;
      height: 200px;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .project-meta {
      h3, h4 {
         font-size: 1.2rem;
         letter-spacing: initial;
         display: inline-block;
         float: left;
      }
      h4 {
        float: right;
      }
    }
  }
}



.gallery {
  position: relative;
  margin-bottom: 120px;
  .gallery-item {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    img {
      width: 100%;
    }
  }
}

.outro {
  margin: 2%;
  padding: 10px 30px 120px;
  font-size: 1.8rem;
  .thin {
    max-width: $phone-width - 100 !important;
    text-align: center;
    line-height: 1.6;
    margin: 0 auto;
  }
  @media (min-width: $large-tablet-width) {
    padding-bottom: 150px;
  }
}
