<div class="project gradient">
  <a href="{{ node.url }}">
    <div class="project-feature"
    style="background-image:url('{{node.feature}}')">
    </div>
    <div class="project-meta">
      <h3>{{ node.title }} / {{ node.label }}</h3>
      <!--<h4></h4>-->
    </div>
  </a>
</div>
