<div class="project item-sm gradient">
  <a href="{{ node.url }}">
    <div class="project-feature"
    style="background-image:url('{{node.feature}}')">
    </div>
    <div class="project-meta-sm">
      <h3>{{ node.title }} / {{ node.label }}</h3>
    </div>
  </a>
</div>
