<div class="section more">
  <div class="row container">
    <h6>More Work</h6>
  </div>
  <div class="row container">
    {% for node in site.posts limit:3 %}
    <div class="columns four">
      <div class="project">
        <a href="{{ node.url }}">
          <div class="project-feature"
          style="background-image:url('{{node.feature}}')">
          </div>
        </a>
        <div class="project-meta">
          <h3>{{ node.title }}</h3>
          <h4>{{ node.label }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
