<div class="row footer">

  <div class="columns three">
    {% for item in site.data.settings.social %}
    <p class="line">
      <a href="{{ item.link }}" target="_blank">{{ item.icon | upcase }}</a>
    </p>
    {% endfor %}
  </div>

  <div class="columns three">
    <p class="line">
      <a href="#">ETHOS</a>
    </p>
    <p class="line">
      <a href="#">ABOUT</a>
    </p>
  </div>

  <div class="columns three">
    <p>hire us /</p>
    <p><a href="#" class="decorate">{{ site.email }}</a></p>
    <p>work with us /</p>
    <p><a href="#" class="decorate">{{ site.email }}</a></p>
  </div>

  <div class="columns three pull-right">
    <p>&copy; 2018 {{ site.title }} | design by <a href="https://theoryforce.com" class="decorate">tfs</a></p>
  </div>

</div>
