

<div class="dropdown">
  <div class="dropbtn">
    <!--<a href="#">&#9776;</a>-->
    <div class="col">
      <div class="special-con">
        <div class="bar arrow-top-fall"></div>
        <div class="bar arrow-middle-fall"></div>
        <div class="bar arrow-bottom-fall"></div>
      </div>
    </div>
  </div>
  <div class="dropdown-content animated slideInLeft">
    {% for item in site.data.settings.menu %}
      <p>
        / <a {% if item.style %}style="{{item.style}}" {% endif %} href="{{ site.url }}/{{ item.slug }}">{{ item.name }}</a>
      </p>
    {% endfor %}
  </div>
</div>
<script type="text/javascript">
var menu = document.querySelector('.dropdown-content');
var menuToggle = document.querySelector('.dropbtn');

menuToggle.addEventListener('click', (e) => {
e.preventDefault();

if (window.getComputedStyle(menu).display === 'block') {
  menu.style.display = 'none';
} else  {
  menu.style.display = 'block';
}
});
</script>


<div class="row header-row">
  <div class="columns three pull-left">
    <div class="site-headline">
      <h1>
        <a href="/">
          {{site.title}}
        </a>
      </h1>
    </div>
  </div>
  <div class="columns three pull-right">
   <div class="nav">
     {% for item in site.data.settings.menu %}
       / <a {% if item.style %}style="{{item.style}}" {% endif %} href="{{ site.url }}/{{ item.slug }}">{{ item.name }}</a>
     {% endfor %}
   </div>
  </div>
</div>
