<title>{{ page.title | capitalize }} / {{ site.title | capitalize }}</title>
<link rel="icon" type="image/x-icon" href="/assets/ico/favicon.ico">

<link rel="dns-prefetch" href="//fonts.gstatic.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
{% if page.next %}
{% for next in page.next %}
<link rel="prerender" href="{{ next }}" as="document">
{% endfor %}
{% endif %}

<script src="{{ site.baseurl }}/assets/js/turbolinks.js"></script>

{% if page.canonical %}
<link href="{{page.canonical}}" rel="canonical" />
{% else %}
<link href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" rel="canonical" />
{% endif %}

<meta content="index,follow,all" name="robots" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skeleton.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">
{% feed_meta %}
<!-- RSS-v2.0
<link href="{{ site.url }}/feed/rss.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
//-->
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400|Libre+Franklin:300,700" rel="stylesheet">
<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{{ page.title }} via @{{ site.twitter_username }}" />
<meta name="twitter:description" content="{% if page.description%}{{ page.description }}{% else %}{{ page.content | markdownify | strip_html | truncatewords: 35}}{% endif %}" />
{% if page.feature %}<meta property="twitter:image" content="{{ page.feature }}" />
<meta property="twitter:image:secure_url" content="{{ page.feature | prepend:site.baseurl | prepend:site.url }}" />{% endif %}
<meta name="twitter:creator" content="{% if page.author.twitter %}{{ page.author.twitter }}{% elsif page.author.name %}{{ page.author.name }}{% else %}The Business Of Crypto{% endif %}" />
<!-- opengraph -->
<meta property="og:locale" content="en" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }} on {{ site.title }}" />
<meta name="og:description" content="{% if page.description%}{{ page.description }}{% else %}{{ page.content | markdownify | strip_html | truncatewords: 35}}{% endif %}" />
<meta property="og:url" content="{{ page.url | prepend:site.url}}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:updated_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
{% if page.feature %}<meta property="og:image" content="{{ page.feature | prepend:site.baseurl | prepend:site.url }}" />
<meta property="og:image:secure_url" content="{{ page.feature | prepend:site.baseurl | prepend:site.url }}" />{% endif %}
<!-- article -->
<meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_pagename }}/" />
<meta property="article:author" content="{% if page.author.name  %}{{ page.author.name }} / {% endif %} The Business Of Crypto" />
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<!-- post tags -->
{% if page.tag %}{% for item in page.tag %}<meta property="article:tag" content="{{ item.tag }}" />{% endfor %}{% else %}<meta property="article:tag" content="#New" />{% endif %}
<!-- post categories -->
{% if page.category %}
<meta property="article:section" content="{{ page.category | replace: ' ', '-' | downcase}}" />
{% else %}
<meta property="article:section" content="{{ site.title | replace: ' ', '-' | downcase}}" />
{% endif %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.data.settings.google-ID }}', 'auto');
  ga('send', 'pageview');
</script>
{% seo %}
