<div class="row row-hero">
  <div class="columns twelve">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>
      sed do eiusmod tempor incididunt ut labore et dolore magna <br>
      aliqua. Ut enim ad minim veniam.</p>
    <p>
      <a class="btn" href="#">Our Approach</a>
    </p>
  </div>

</div>
