<div class="row main">
  <div class="columns three">
    <div class="cta-signal" id="services-toggle">
     SERVICES <div class="icon"></div>
     <div class="services-content">
       <p>
         <a href="#">design for organic growth</a>
       </p>
       <p>
         <a href="#">information architecture</a>
       </p>
       <p>
         <a href="#">content & editorial</a>
       </p>
       <p>
         <a href="#">digital strategy</a>
       </p>
     </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var menu = document.querySelector('.services-content');
var menuToggle = document.querySelector('#services-toggle');
menuToggle.addEventListener('click', (e) => {
e.preventDefault();
if (window.getComputedStyle(menu).display === 'block') {
  menu.style.display = 'none';
} else  {
  menu.style.display = 'block';
}
});
</script>
