---
# Front matter comment to ensure Jekyll properly reads file.
---
/* fonts */
$base-font-family:  'Rubik', sans-serif;
$body-font-family:  'Rubik', sans-serif;
$h-font-family:     'Libre Franklin', Arial, sans-serif;
$code-font-family:  'Rubik', monospace;
/* brand */
$contrast-text:     #ffffff;
$text:              #ffffff;
$accent-color:      #009688;
$bg:                #111111;
$brand:             #673ab7;
/* color classes */
$black:             #000000;
$red:               #ff5722;
$gray:              #615663;
/* breaks */
$container-width:     1300px;
$large-tablet-width:  770px;
$tablet-width:        600px;
$small-tablet-width:  550px;
$phone-width:         480px;
@import "_sass/-sections-dir";
