<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    <div class="container maincontent">

        {% include header.html %}
        {% include nav.html %}
      {{ content }}

    </div>
  </body>
</html>
