---
layout: default
---

<div class="row main">
 <section class="home">

   <div class="section" id="projects">
     {% for node in site.posts limit:2%}
       {% include project/item.html %}
     {% endfor %}
     {% for node in site.posts offset:2 limit:3%}
       {% include project/item-sm.html %}
     {% endfor %}
   </div>
   <div class="clear"></div>
   <div class="section">
      {% include hero.html %}
   </div>

   <div class="section section-narrow">
     {{ content }}
   </div>
   <div class="row">
     {% include footer.html %}
   </div>

 </section>
</div>
