<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
  </head>
  <body class="layout-{{ page.layout }}" style="background:url({{page.feature}})">
    <div class="overlay">
      <div class="container maincontent animated fadeIn delay-0.8s">
          {% include header.html %}
          {% include nav.html %}

          <div class="row" style="margin-bottom:120px;">
           <section class="main home">

             <div class="section" id="portfolio">
               {% for node in site.posts %}
                {% if node.label contains page.label %}
                 {% include project/item.html %}
                {% endif %}
               {% endfor %}
             </div>

           </section>

          

          </div>


      </div>
      <div class=" row">
        {% include project/more.html %}
      </div>


    </div><!-- overlay -->
  </body>
</html>
