---
layout: default
---
</div>

<div class="container" style="top: 45px;">
  <div class="section">
    <h2>{{ page.title }}</h2>
    {{ content }}
  </div>
  <div class="row">
    {% include footer.html %}
  </div>
</div>
