---
layout: default
---
</div>



  <div class="row showcase-space main">
      <div class="columns eight">
        <div class="section" id="projects">
        <div class="project gradient">
            <div class="project-feature">
              <img src="{{page.feature}}">
            </div>
            <div class="project-meta">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    <div class="columns four intro">
      {{ page.intro }}
      {% if page.meta %}
      <div class="meta">
        <p class="line">Client: {{ page.meta.client }}</p>
        <p class="line">Year: {{ page.meta.year }}</p>
        <p class="line">Work:  {{ page.label }} / {{ page.meta.work }}</p>
        <p class="line">Platform: {{ page.meta.platform }}</p>
      </div>
      {% endif %}
    </div>
  </div>

<div class="container" style="top: 45px;">
  <div class="row">

    <div class="columns three">
      <div class="cta-signal">
       DESCRIPTION +
      </div>
    </div>
  </div>
  <div class="section">
      {{ content }}
  </div>
  <div class="row">
    {% include footer.html %}
  </div>
</div>
{% if page.gallery %}
<div class="row gallery">
  {% for g in page.gallery %}
  <div class="gallery-item animated fadeIn delay-2s">
    <img src="{{ g }}" alt="{{ page.title }}">
  </div>
  {% endfor %}
</div>
{% endif %}
